.header-main {
  height: 3.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-sub {
  height: 3rem;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.first-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  flex-direction: row;
  gap: 10px;
  color: black;
}
.second-box {
  height: 3rem;
  width: 50vw;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  flex-direction: row;
  color: lightblue;
}
.logos {
  height: 3rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: blac;
}
